---
import type { GetStaticPaths } from "astro";
import Layout from "../layouts/Layout.astro";
import mods from "../../public/mods.json";

export const getStaticPaths = (() => {
  return Object.keys(mods).map((key) => ({
    params: {
      gameVersion: key,
    },
  }));
}) satisfies GetStaticPaths;

interface Props {
  gameVersion: string;
}

const { gameVersion } = Astro.params;
console.log(gameVersion);
---

<Layout title={`Quest Beat Saber Mods for ${gameVersion}`}>
  <div
    class="grid sm:grid-cols-1 md:grid-cols-4 lg:grid-cols-5 gap-4 p-4 max-w-screen-xl mx-auto"
  >
    {
      mods[gameVersion].map((mod, index) => (
        <a
          href={mod.download}
          class="bg-white-alpha-10p
            rounded-lg
            overflow-hidden
            text-center
            p-0 relative
            after:content-['']
            hover:after:bg-white-alpha-10p
            after:absolute
            after:inset-0 after:transition-all"
        >
          <div
            class="block bg-black w-full relative"
            style="padding-bottom: calc(100% / 178 * 100);"
          >
            {mod.cover != null ? (
              <div class="absolute inset-0 flex justify-center items-center w-full h-full">
                <img
                  class="inline-block max-w-full max-h-full h-screen"
                  alt={`${mod.name} v${mod.version}`}
                  src={mod.cover}
                />
              </div>
            ) : null}
          </div>
          <span class="block p-4">{`${mod.name} v${mod.version}`}</span>
        </a>
      ))
    }
  </div>
</Layout>
