---
import { Mod } from "../../../shared/types/Mod";
import BottomAnchor from "./BottomAnchor.astro";
import { encode } from "html-entities";
import { ChevronDownIcon, HeartIcon } from "@heroicons/react/16/solid";
import ExpandableLongText from "./ExpandableLongText.astro";
import { isValidUrl } from "../../../shared/isValidUrl";
import { getDomainFromUrl } from "../../../shared/getDomainFromUrl";
import FundingButton from "./FundingButton.astro";
import AddCheckbox from "./AddCheckbox.astro";
import { CoreMod } from "../../../shared/CoreMods";
import DropdownListMenu from "./DropdownListMenu.astro";
import DropdownListMenuItem from "./DropdownListMenuItem.astro";

export interface Props {
  /**
   * All the versions of the mod for this game version.
   */
  mods: Mod[];

  /**
   * If the mod is a core mod.
   */
  core?: CoreMod | null;
}

const { mods, core = false } = Astro.props as Props;
---

{
  (() => {
    const mod = mods[0];

    return (
      <mod-card
        data-mod-id={mod.id}
        class={`
          before:absolute
          before:backdrop-blur
          before:content['']
          before:inset-2
          before:overflow-hidden
          before:rounded-lg
          before:z-[-1]
          flex
          flex-col
          p-2
          relative
          w-full
          mcb-2:w-1/2
          mcb-3:w-1/3
          mcb-4:w-1/4
          mcb-5:w-1/5
          mcb-6:w-1/6
        `}
      >
        {core ? (
          <core-mod-info
            class="hidden"
            data-id={core.id}
            data-version={core.version}
            data-download-link={core.downloadLink}
            data-filename={core.filename}
          />
        ) : null}
        <div
          class={`
            bg-card-header-bg
            block
            overflow-hidden
            relative
            rounded-t-lg
            w-full
          `}
          style="padding-bottom: calc(100% / 178 * 100);"
        >
          <div
            class={`
              absolute
              flex
              h-full
              inset-0
              items-center
              justify-center
              w-full
            `}
          >
            <img
              class={`
                h-screen
                inline-block
                max-h-full
                max-w-full
              `}
              alt={`${mod.name} v${mod.version}`}
              src={mod.cover != null ? mod.cover : `images/image-missing.svg`}
            />
          </div>
        </div>
        <div
          class={`
            bg-card-body-bg
            flex-grow
            relative
            rounded-b-lg
            text-card-body-text
          `}
        >
          <div
            class={`
              block
              break-words
              p-4
            `}
          >
            <ExpandableLongText>
              <div
                class={`
                font-semibold
              `}
              >
                <mod-name>{mod.name}</mod-name>
                <mod-version
                  class={`
                    before:content-['v']
                    pl-1
                    text-[.6em]
                `}
                >
                  {mod.version}
                </mod-version>
              </div>
              <mod-author
                class={`
                  block
                  italic
                  text-[.7em]
              `}
              >
                {mod.author}
              </mod-author>
              {mod.description ? (
                <mod-description
                  class={`
                    text-sm
                    whitespace-pre-line
                `}
                  set:html={encode(mod.description)
                    .replace(/\n/g, "&#10;")
                    .replace(/\r/g, "")}
                />
              ) : null}
            </ExpandableLongText>
          </div>
          {(() => {
            const buttons = [];
            if (mod.download) {
              buttons.push(
                <div class="align-middle join mr-2">
                  <a
                    href={mod.download}
                    class={`
                      btn
                      btn-primary
                      btn-sm
                      join-item
                      mod-download
                      rounded-lg
                      text-white
                    `}
                  >
                    Download
                  </a>
                  {mods.length > 1 ? (
                    <details class="join-item dropdown">
                      <summary
                        class={`
                            border-l
                            border-l-white-alpha-20
                            btn
                            btn-primary
                            btn-sm
                            cursor-pointer
                            h-[100%]
                            hover:border-l-white-alpha-20
                            px-1.5
                            rounded-r-lg
                          `}
                      >
                        <ChevronDownIcon className="size-4 text-white" />
                      </summary>
                      <DropdownListMenu>
                        {mods.map((mod, index) => (
                          <DropdownListMenuItem>
                            <a
                              class={`
                                block
                                font-semibold
                                px-4
                                py-2
                                text-sm
                                ${index > 0 && "mod-download"}
                              `}
                              href={mod.download}
                            >
                              {mod.version}
                            </a>
                          </DropdownListMenuItem>
                        ))}
                      </DropdownListMenu>
                    </details>
                  ) : null}
                </div>,
              );
            }

            if (mod.source) {
              buttons.push(
                <a
                  href={mod.source}
                  target="_blank"
                  class={`
                    align-middle
                    btn
                    btn-primary
                    btn-sm
                    mod-source
                    mr-2
                    qavs-none
                    rounded-lg
                    text-white
                  `}
                >
                  Source Code
                </a>,
              );
            }

            const funding = mod.funding.filter((url) => isValidUrl(url));

            if (funding.length > 0) {
              buttons.push(<FundingButton funding={funding} />);
            }

            return (
              <BottomAnchor>
                <div
                  class={`
                    ml-2
                    pb-4
                  `}
                >
                  <div
                    class={`
                      ml-2
                    `}
                  >
                    <AddCheckbox
                      title={
                        core
                          ? "Core mods are always included"
                          : "Mark mods to batch download them"
                      }
                      class={`
                        checkbox-lg
                        checkbox-primary
                        checked:checkbox-success
                        mod-checkbox
                      `}
                      plusClass={`
                        m-[.125rem]
                        text-white
                        ${core && "hidden"}
                      `}
                      outerClass={`
                        align-middle
                        h-8
                        hidden
                        inline-block
                        mr-2
                        overflow-clip
                        qavs-none
                        rounded-lg
                        script-inline-block
                        ${!core && "bg-primary"}
                      `}
                      disabled={!!core}
                      checked={!!core}
                    />
                    {buttons}
                  </div>
                </div>
              </BottomAnchor>
            );
          })()}
        </div>
      </mod-card>
    );
  })()
}
